@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* 
    main color : #d43131
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: lavender;
}

.text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #d17777 0.89%,
      #d67777 17.23%,
      #cd5959 42.04%,
      #cd5757 55.12%,
      #d73f3f 71.54%,
      #d43131 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }